            <ion-card [ngClass]="animateClass" class="timeline">
                <ion-card-header class="cardHeader">
                    <ion-icon name="pin" class="cardIcon"></ion-icon> Current Location (~1.2 km away)
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>New Delhi, Delhi</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="information-circle" class="cardIcon"></ion-icon> About me
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="globe" class="cardIcon"></ion-icon> Languages
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>English, French</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="pin" class="cardIcon"></ion-icon> Current Location (~1.2 km away)
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>New Delhi, Delhi</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="information-circle" class="cardIcon"></ion-icon> About me
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>I'm here to: Make new friends</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="globe" class="cardIcon"></ion-icon> Languages
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>English, French</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="pin" class="cardIcon"></ion-icon> Current Location (~1.2 km away)
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>New Delhi, Delhi</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="information-circle" class="cardIcon"></ion-icon> About me
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>I'm here to: Make new friends</p>
                </ion-card-content>
                <ion-card-header class="cardHeader">
                    <ion-icon name="globe" class="cardIcon"></ion-icon> Languages
                </ion-card-header>
                <ion-card-content class="cardContent">
                    <p>English, French</p>
                </ion-card-content>
            </ion-card>